.headerMessage {
  position: absolute;
  top: 10%;
  right: 5%;
  background-color: white;
  padding: 1.5rem;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.4s;
  display: flex;
  /* width: 100%; */
  width: auto;
  flex-wrap: wrap;
  gap: 1rem;
  align-items: center;
  border-left: 0.5rem var(--dark-blue) solid;
  color: var(--dusky);
}

.showHeaderMessage {
  opacity: 1;
  pointer-events: all;
}
