<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css">
    <link rel="stylesheet" href="../../lib/header/global.css">
    <title>Bc</title>
</head>

<script src="../../lib/header/index.js" type="module"></script>

<body hidden>
    <component-header></component-header>
    <component-page-loader data-page-loader="1" id="mainContainer">
        <component-dots data-dots="1"></component-dots>
        <h1 data-reduce-render="setFullCode" data-reduce-type="codeElement">***</h1>
    </component-page-loader>

    <component-page-loader data-page-loader="2">
        <component-dots data-dots="2"></component-dots>
        <component-code-changer data-code-changer="1"></component-code-changer>
    </component-page-loader>


    <div class="blur-effect-1"></div>
    <div class="blur-effect-2"></div>
    <main id="mainContainer" class="main-container">
        <div class="code-render">
            <p>Tu Código</p>
            <h1 data-reduce-render="setCode" data-reduce-type="codeElement">***</h1>
            <span class="copy">
                <img data-reduce-type="copyCode" src="../../assets/icons/copy.svg" alt="Copy" class="icon">
            </span>
        </div>

        <div class="code-generator">
            <button data-reduce-type="reGenerateCode">Generar nuevo codigo</button>
            <button data-reduce-type="reSetData" class="custom-button-3">Usar este Código</button>
        </div>
    </main>

    <script src="./main.js" type="module"></script>
</body>
<script src="../../lib/footer/index.js" type="module"></script>
<component-footer></component-footer>

</html>